<h1>Vehicle Registration</h1>
<p>Your Vehicle: {{ vehicle()?.make }} {{ vehicle()?.model}}</p>
<table class="table table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Rego</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ vehicle()?.make }}</td>
            <td>{{ vehicle()?.model}}</td>
            <td>{{ vehicle()?.year }}</td>
            <td>{{ vehicle()?.currentRegistrationNumber }}</td>

            <td> 
                @if(registrationStatus() === 'Current'){
                    <span class="text-success">Valid</span>
                } @else if(registrationStatus() === 'Expired'){
                    <span class="text-danger">Expired</span>
                } @else if(registrationStatus() === 'Unknown'){
                    <span>Unkown</span>
                } @else {
                    <span>...</span>
                }
            </td>
        </tr>
    </tbody>
</table>